:root {
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  background: #f7f7f7;
}

.container {
  padding: 40px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  background: #fff;
  border-radius: 8px;
  margin-left: 400px;
  margin-right: 400px;
}

.centerForm {
  position: relative;
  justify-content: center;
  align-items: center;
}
